@import "tailwindcss";

@theme {
  --font-display: var(--font-syne), sans-serif;
  --font-sans: var(--font-jakarta), sans-serif;
}

/* Custom Hero Arc Curve */
.hero-curve {
  clip-path: ellipse(140% 100% at 50% 0%);
}